apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ include "zesty-k8s.configmap" . }}"
  labels:
    app.kubernetes.io/instance: "{{ include "zesty-k8s.fullname" . }}"
    app.kubernetes.io/name: "{{ include "zesty-k8s.fullname" . }}"
data:
  ORG_ID: "{{ .Values.orgID }}"
  PODMINUTEMETRICS_ENABLED: "{{ .Values.podMinuteMetrics.enabled }}"
  PATHS_MOUNTPATH: "{{ .Values.persistence.mountPath }}"
  STORAGE_SIZE: "{{ .Values.persistence.spec.resources.requests.storage }}"
  {{- if .Values.prometheus.url }}
  PROMETHEUS_SERVER_ENDPOINT: "{{ .Values.prometheus.url }}"
  {{- end }}
  {{- if .Values.prometheus.username }}
  DB_BASIC_AUTH_USERNAME: "{{ .Values.prometheus.username }}"
  {{- end }}
  {{- if .Values.prometheus.password }}
  DB_BASIC_AUTH_PW: "{{ .Values.prometheus.password }}"
  {{- end }}
  {{- if .Values.prometheus.bearerToken }}
  DB_BEARER_TOKEN: "{{ .Values.prometheus.bearerToken }}"
  {{- end }}
  {{- if .Values.awsAthena.enabled }}
  ATHENA_ENABLED: "{{ .Values.awsAthena.enabled }}"
  ATHENA_PROJECT_ID: "{{ .Values.awsAthena.athenaProjectID }}"
  ATHENA_BUCKET_NAME: "{{ .Values.awsAthena.athenaBucketName }}"
  ATHENA_REGION: "{{ .Values.awsAthena.athenaRegion }}"
  ATHENA_DATABASE: "{{ .Values.awsAthena.athenaDatabase }}"
  ATHENA_TABLE: "{{ .Values.awsAthena.athenaTable }}"
  ATHENA_WORKGROUP: "{{ .Values.awsAthena.athenaWorkgroup }}"
  ATHENA_CATALOG: "{{ .Values.awsAthena.athenaCatalog }}"
  {{- end }}
  {{- if .Values.assumeRole.enabled }}
  MASTER_PAYER_ARN: "{{ .Values.assumeRole.masterRoleArn }}"
  EXTERNAL_ID: "{{ .Values.assumeRole.externalID }}"
  {{- end }}
  {{- if .Values.s3override.enabled }}
  S3BUCKET: "{{ .Values.s3override.bucket }}"
  REGION: "{{ .Values.s3override.region }}"
  {{- end }}
  LOG_LEVEL: "{{ .Values.log.level }}"
  LOG_REMOTE: "{{ .Values.log.remote }}"
  {{- if .Values.metadata.enabled }}
  METADATA_ACCOUNTID: "{{ .Values.metadata.accountID }}"
  METADATA_REGION: "{{ .Values.metadata.region }}"
  METADATA_CLUSTERNAME: "{{ .Values.metadata.clusterName }}"
  {{- end }}
  {{- if .Values.grpc.enabled }}
  GRPC_PORT: "{{ .Values.grpc.server.port }}"
  MANAGER_HOST: "{{ .Values.grpc.client.endpoint }}"
  MANAGER_PORT: "{{ .Values.grpc.client.port }}"
  {{- end -}}
  {{- if .Values.awsCluster.enabled }}
  {{- if ne .Values.awsCluster.accessKeyID "" }}
  AWS_ACCESS_KEY_ID: "{{ .Values.awsCluster.accessKeyID }}"
  AWS_SECRET_ACCESS_KEY: "{{ .Values.awsCluster.secretAccessKey }}"
  {{- end }}
  {{- end }}
  SECRET_NAME: "{{ include "zesty-k8s.secret" . }}"
