apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ include "zesty-k8s.fullname" . }}"
  labels:
    app.kubernetes.io/instance: "{{ include "zesty-k8s.fullname" . }}"
    app.kubernetes.io/name: "{{ include "zesty-k8s.fullname" . }}"
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/instance: "{{ include "zesty-k8s.fullname" . }}"
      app.kubernetes.io/name: "{{ include "zesty-k8s.fullname" . }}"
  template:
    metadata:
      annotations:
        timestamp: {{ now | quote }}
      labels:
        app.kubernetes.io/instance: "{{ include "zesty-k8s.fullname" . }}"
        app.kubernetes.io/name: "{{ include "zesty-k8s.fullname" . }}"
    spec:
      automountServiceAccountToken: true
      {{- if .Values.nodeSelector }}
      nodeSelector:
      {{- toYaml .Values.nodeSelector | nindent 10 }}
      {{- end }}
      {{- if .Values.tolerations }}
      tolerations:
      {{- toYaml .Values.tolerations | nindent 10 }}
      {{- end }}
      initContainers:
        - image: "{{ .Values.image.migrationRepository }}:{{ include "zesty-k8s.version" . }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          name: migrate
          volumeMounts:
            - mountPath: {{ .Values.persistence.mountPath }}
              name: {{ .Values.persistence.volumeName }}
          args: ["schema", "apply", "--url", "sqlite://{{ .Values.persistence.mountPath}}/zesty.db", "--dev-url", "sqlite://:memory:", "--to",  "file:///bin/pkg/db/schema.sql", "--auto-approve"]
      containers:
        - image: "{{ .Values.image.repository }}:{{ include "zesty-k8s.version" . }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          name: "{{ include "zesty-k8s.name" . }}"
          ports:
            - containerPort: {{ .Values.health.port }}
              name: healthz
              protocol: TCP
            {{- if .Values.grpc.enabled }}
            - containerPort: {{ .Values.grpc.server.port }}
              name: grpc
              protocol: TCP
            {{- end }}
          readinessProbe:
            httpGet:
              path: /ready
              port: {{ .Values.health.port }}
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /health
              port: {{ .Values.health.port }}
            initialDelaySeconds: 5
            periodSeconds: 5
          {{- with .Values.resources }}
          resources:
          {{- toYaml . | nindent 12 }}
          {{- end }}
          securityContext:
          {{- toYaml .Values.container.securityContext | nindent 12 }}
          volumeMounts:
            - mountPath: {{ .Values.persistence.mountPath }}
              name: {{ .Values.persistence.volumeName }}
          envFrom:
            - configMapRef:
                name: "{{ include "zesty-k8s.configmap" . }}"
          {{- if .Values.awsCluster.enabled }}
          {{- if eq .Values.awsCluster.accessKeyID "" }}
            - secretRef:
                name: {{ .Values.awsCluster.secret.name }}
          {{- end }}
          {{- end }}
          {{- if eq .Values.encryptedCredentials "" }}
            - secretRef:
                name: {{ .Values.secret.name | quote }}
          {{- end }}
          env:
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
          {{- if ne .Values.encryptedCredentials ""}}
            - name: ENCRYPTED_CREDENTIALS
              value: {{ .Values.encryptedCredentials | quote }}
          {{- end }}
      priorityClassName: system-cluster-critical
      securityContext:
      {{- toYaml .Values.securityContext | nindent 8 }}
      serviceAccountName: "{{ include "zesty-k8s.saname" . }}"
      shareProcessNamespace: true
      volumes:
        - name: {{ .Values.persistence.volumeName }}
          persistentVolumeClaim:
            claimName: "{{ include "zesty-k8s.pvcname" . }}"
