{{- if .Values.autoUpdate.enabled }}
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: "{{ include "zesty-k8s.autoupdate-role" . }}"
  namespace: "{{ include "zesty-k8s.namespace" . }}"
  labels:
    app.kubernetes.io/instance: "{{ include "zesty-k8s.fullname" . }}"
    app.kubernetes.io/name: "{{ include "zesty-k8s.fullname" . }}"
rules:
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - get
      - patch
      - update
      - list
      - create
  - apiGroups:
      - "apps"
    resources:
      - deployments
    verbs:
      - get
      - patch
      - update
      - list
      - create
  - apiGroups:
      - "batch"
    resources:
      - cronjobs
    verbs:
      - get
      - patch
      - update
      - list
      - create
  - apiGroups:
      - ""
    resources:
      - serviceaccounts
      - configmaps
      - services
      - persistentvolumeclaims
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - "rbac.authorization.k8s.io"
    resources:
      - roles
      - rolebindings
    verbs:
      - get
      - list
      - watch
{{- end }}