{{- if .Values.admissionController.enabled }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "zesty-admission-controller.cr" . }}
  namespace: {{ template "zesty-admission-controller.namespace" . }}
  labels:
    app: {{ include "zesty-admission-controller.fullname" . }}
rules:
  - apiGroups:
      - apps
    resources:
      - deployments
      - daemonsets
      - statefulsets
    verbs:
      - get
      - list
      - patch
  - apiGroups:
      - batch
    resources:
      - cronjobs
    verbs:
      - get
      - list
  - apiGroups:
      - keda.sh
    resources:
      - scaledjobs
      - scaledobject
    verbs:
      - get
      - list
  - apiGroups:
      - karpenter.sh
    resources:
      - nodepools
    verbs:
      - get
      - list
      - patch
  - apiGroups:
      - zesty.co
    resources:
      - managedworkloads
      - managednodepools
    verbs:
      - get
      - list
      - create
      - update
      - patch
      - delete
{{- end }}